*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
}

.calculator-grid >button:hover {
    background-color: rgba(255,255,0.9);
}

.double-space {
    grid-column: span 2;
}
.output {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    display:flex;
    align-items: flex-end;
    justify-content:space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-opperand {
    color: rgb(131, 128, 128);
    font-size: 1.5rem;
}
.output .current-opperand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}
